# Binaries
**/bin/
!vendor/bin/premake/
bin-int/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
/SandboxGame/MayhemProfile-Runtime.json
/SandboxGame/MayhemProfile-Shutdown.json
/SandboxGame/MayhemProfile-Startup.json
/SandboxGame/MayhemProfile-Runtime.json
/SandboxGame/MayhemProfile-Shutdown.json
/SandboxGame/MayhemProfile-Startup.json
/SandboxGame/imgui.ini
